.DS_Store
.shards
/lib
/tmp
/poc
/generated/
/test
/docs
/coverage/

/bin/crystal-coverage*
/bin/ameba
/bin/clear-cli

# I use this file to test some complex Crystal syntax sometime
/test.cr

# will migrate to github action one day
/.github

# deps of some tools
/node_modules
yarn.lock
package.json