module TreeTemplate::Components
  # This is just an example of component
  def app_footer(content = "<%= Time.local.year %>")
    footer do
      p(style: "text-align: center") do
        # test
        unsafe "&copy; <%= opts["app_name_camelcase"] %> - #{content}"
      end
    end
  end
end
