module TreeTemplate::Components
  # This is just an example of component
  def app_footer(content = "2018")
    footer do
      p(style: "text-align: center") do
        # test
        unsafe "&copy; $app_name - #{content}"
      end
    end
  end
end
