name: clear-kemal
version: 0.1.0

authors:
  - $git_username <$git_email>

description: |
  This is a short description of $app_name

dependencies:
  kemal:
    github: kemalcr/kemal
  clear:
    github: anykeyh/clear
  tree_template:
    github: anykeyh/tree_template

development_dependencies:
  sentry:
    github: samueleaton/sentry
