name: <%= opts["app_name_underscore"] %>
version: 0.1.0

authors:
  - <%= opts["git_username"] %> <<%= opts["git_email"] %>>

description: |
  This is a short description of <%=opts["app_name_camelcase"]%>

dependencies:
  kemal:
    github: kemalcr/kemal
  clear:
    github: anykeyh/clear
  tree_template:
    github: anykeyh/tree_template

development_dependencies:
  sentry:
    github: samueleaton/sentry
