# Base class for all your models
# Just extend this class.
# You can also bare include Clear::Model
#
# You can add here all the helpers function you want for your models
class ApplicationModel
  macro inherited
    include Clear::Model
  end
end
