require "kemal"
require "clear"
require "tree_template"
require "yaml"

module Application
  class_property env : String = ENV.fetch("CRYSTAL_ENV", "development")

  def self.run
    Kemal.run
  end
end

Clear.log.level = ::Log::Severity::Debug if Application.env == "development"

require "./db/init.cr"

require "./views/**"
require "./**"
