# Initialize Clear with the database.yml file
CLEAR_DB_CONFIG = YAML.parse(File.read("./config/database.yml"))[Application.env]

def self.init_db
  uri = CLEAR_DB_CONFIG["uri"].as_s

  begin
    Clear::SQL.init(CLEAR_DB_CONFIG["uri"].as_s)
  rescue DB::ConnectionRefused
    puts "FATAL: Connection to the database (#{uri}) has been refused"
    exit
  end
end